*{
    margin: 0;
    padding: 0;

}
.button1{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    background-color: seashell;
    cursor: pointer;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    background-color: seashell;
    cursor: pointer;
}
    .button2{
   
    height: 50px;
    font-size: 25px;
    margin: 2px;
    background-color: seashell;
    cursor: pointer;
}
.eval{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    background-color: seashell;
    cursor: pointer;

}
.disp{
    width: 203px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    background-color: seashell;

}

.calc {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);translateY(-50%);
    background-color: #3D9970;


}
.back {
    background: blueviolet;
    height: 100%;
}

body {
    background: papayawhip;
    height: 100%;

}